body {
    font-family: Arial;
    margin: 20px;
}

nav {
    background-color: lightblue;
    padding: 10px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    font-weight: bold;
}

#items-container div {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}



/* Lost & Found Portal
The Lost & Found Portal is a simple web application that allows users to:

Add lost or found items
View all items
Search items
Delete items

The goal is to build a full-stack application using:

HTML, CSS, JavaScript (Frontend)
Flask (Backend)
In-memory list as database

<!-- Home Page -->
Navbar
Search Bar
Items Card
Delete Button

<!-- Add Item Page -->
Title
Category
Location
Contact
Type (Lost / Found) */